.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #1c1e2d;
}
.main-button {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  outline: 0;
}
.cancel-button {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  background-color: white;
  outline: 0;
  border: none;
}
.tabs {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.tabs button {
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 5rem;
  margin-left: 5rem;
}
.video-list {
  margin: 5rem 3rem;
}
.video-item {
  margin-bottom: 1rem;
}
.video-icon {
  color: var(--primaryColor);
  font-size: 30px;
}
.video-icon:hover {
  cursor: pointer;
}
.video-name {
  color: white;
  padding-left: 1rem;
  margin-top: 1rem;
}
